body {
}

h1 {
  margin :0px ;
  font-size :12pt ;
  text-align :center ;
}

h2 {
  margin :0px ;
  font-size :8pt ;
}

img {
  border :0px ;
  margin :0px ;
  padding :0px ;
}

#container {
  width :950px ;
  height :570px ;
  margin-top :20px ;
  margin-bottom :0px ;
  margin-left :auto ;
  margin-right :auto ;
  overflow :hidden ;
}

#header {
  width :950px ;
  height :70px ;
  background-color : aqua;
}

#footer {
  width :950px ;
  height :30px ;
  background-color : silver;
}

#page {
  width :950px ;
  height :470px ;
  overflow :hidden ;
}

#pagecenter {
  width :650px ;
  height :470px ;
  overflow :hidden ;
  float :left ;
}


#leftmenu {
  width :150px ;
  height :470px ;
  overflow :hidden ;
  float :left ;
}

#rightmenu {
  width :150px ;
  height :470px ;
  overflow :hidden ;
  float :left ;
}

#topmenu {
  width :650px ;
  height :20px ;
  overflow :hidden ;
}

#location {
  width :330px ;
  height :20px ;
  float : left;
  background-color : gray;
}

#navigation {
  width :256px ;
  height :20px ;
  float : left;
  background-color : teal;
}

#language {
  width :64px ;
  height :20px ;
  float : left;
}

#frflag {
  width :32px ;
  height :20px ;
  float : left;
}

#enflag {
  width :32px ;
  height :20px ;
  float : left;
}

#generalmenu {
  width :150px ;
  height :235px ;
  overflow :hidden ;
  background-color : yellow;
}

#contextualmenu {
  width :150px ;
  height :235px ;
  overflow :hidden ;
  background-color : red;
}

#catalogue {
  width :150px ;
  height :235px ;
  overflow :hidden ;
  background-color : fuchsia;
}

#cart {
  width :150px ;
  height :235px ;
  overflow :hidden ;
  background-color : lime;
}

#content {
  width :650px ;
  height :450px ;
  overflow :auto ;
}