<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <filter>
        <filter-name>StrutsFilter</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.FilterDispatcher
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>StrutsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
    <servlet>
        <servlet-name>QuestionnaireServlet</servlet-name>
        <servlet-class>planetekids.servlets.QuestionnaireServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuestionnaireServlet</servlet-name>
        <url-pattern>/questionnaire</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
    <!-- Define the context-relative URL(s) to be protected -->
            <url-pattern>/secured/*</url-pattern>	
    <!-- If you list http methods, only those methods are protected -->
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
  <!-- Anyone with one of the listed roles may access this area -->
            <role-name>tomcat</role-name>
            <role-name>jetty</role-name>
        </auth-constraint>
    </security-constraint>

<!-- Default login configuration uses BASIC authentication -->
    <login-config>
            <auth-method>BASIC</auth-method>
            <realm-name>Example Basic Authentication Area</realm-name>
    </login-config>

<!-- Security roles referenced by this web application -->
    <security-role>
            <role-name>tomcat</role-name>
    </security-role>

    <security-role>
            <role-name>jetty</role-name>
    </security-role>
</web-app>
