body {
	background-image: url('images/background.png');
	background-repeat: repeat-x
}

h1 {
  margin :0px;
  font-size :42pt;
  text-align :center;
}

h2 {
  margin :0px;
  font-size :14pt;
}

h3 {
  margin :0px;
  font-size :12pt;
}

a {
  border :0px;
  margin :0px;
  padding :0px;
  font-size :12pt;
  color :#ffffff;
}

a:hover {
  cursor :pointer;
  color :#000000;
}

div {
  border :0px;
  margin :0px;
  padding :0px;
}

img {
  border :0px;
  margin :0px;
  padding :0px;
}

#container {
	width :950px;
	height :570px;
	margin :auto;
	overflow :hidden;
	border-style : solid;
	border-width : 3px;
	border-color : black;
}

#page {
  width :950px;
  height :470px;
  overflow :hidden;
}

#pagecenter {
  width :650px;
  height :470px;
  overflow :hidden;
  float :left;
}


#leftmenu {
  width :150px;
  height :470px;
  overflow :hidden;
  float :left;
}

#rightmenu {
  width :150px;
  height :470px;
  overflow :hidden;
  float :left;
}

#topmenu {
	width : 650px;
	height : 20px;
	overflow : hidden;
	margin : 1px;
	background-color : #75c45d;
}

#previous {
  width :20px;
  height :20px;
  float : left;
}

#next {
  width :20px;
  height :20px;
  float : left;
}

#refresh {
  width :20px;
  height :20px;
  float : left;
}

#frflag {
  width :32px;
  height :20px;
  float : left;
}

#enflag {
  width :32px;
  height :20px;
  float : left;
}

#location {
  width :526px;
  height :20px;
  float : left;
  font-size :8px;
  vertical-align :middle;
}

#header {
	width : 950px;
	height : 70px;
	margin : 1px;
	background-color : #6bbfff;
	background-image : url('images/earth.png');
	background-repeat : no-repeat;
	background-position : 0% 0%;
}

#footer {
	width : 950px;
	height : 30px;
	margin : 1px;
	background-color : #6bbfff;
}

#generalmenu {
	width : 150px;
	height : 235px;
	overflow : hidden;
	margin : 1px;
	background-color : #75c45d;
}

#catalogue {
	width : 150px;
	height : 235px;
	overflow : hidden;
	margin : 1px;
	background-color : #75c45d;
}

#cart {
	width : 150px;
	height : 470px;
	overflow : hidden;
	margin : 1px;
	background-color : #75c45d;
}

#content {
	width : 650px;
	height : 448px;
	overflow : auto;
	margin : 1px;
	background-image : url('images/content-background.png');
	background-repeat : repeat-x
}

div.welcome {
  width :610px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  color :#000000;
  background-color :#75c45d;
}

div.questionnaire {
  width :610px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  color :#000000;
  background-color :#75c45d;
}

div.questionnaire h3 {
  background-color :#ff0000;
}

a.questionnaire div {
  width :610px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  color :#ffffff;
  background-color :#75c45d;
}

a.questionnaire h3 {
  color :#000000;
  background-color :#ff0000;
}

a.questionnaire:hover div {
  color :#000000;
}

div.question {
  width :570px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  color :#000000;
  background-color :#75c45d;
}

div.answer {
  width :550px;
  margin-left :auto;
  margin-right :auto;
  color :#000000;
  background-color :#75c45d;
}

div.category {
  width :610px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  color :#000000;
  background-color :#75c45d;
}

div.color {
  width :610px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  color :#000000;
  background-color :#75c45d;
}

div.label {
  width :610px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  color :#000000;
  background-color :#75c45d;
}

div.product {
  width :610px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  color :#000000;
  background-color :#75c45d;
}

.infobulle{
	position: absolute;   
	visibility : hidden;
	border: 1px solid Black;
	padding: 10px;
	font-family: Verdana, Arial;
	font-size: 12px;
	background-color: #FFFFCC;
}


.button {
	border-style : solid;
        border-color : black;
        border-width : 1px;  
	color: #ffffff;
        background-color: #75c45d;
	font-weight: bold;
	cursor: hand;
}