body {
}

h1 {
    margin :0px;
    padding :0px;
    border :0px;
    margin-top :20px;
    text-align :center;
    background-color : #0000ff;
}

h2 {
    margin :0px;
    padding :0px;
    border :0px;
    background-color : #2222ff;
}

h3 {
    margin :0px;
    padding :0px;
    border :0px;
    background-color : #4444ff;
}

h4 {
    margin :0px;
    padding :0px;
    border :0px;
    background-color : #6666ff;
}

p {
    margin :0px;
    padding :0px;
    border :0px;
    background-color : #8888ff;
}

div {
  border :0px;
  margin :0px;
  padding :0px;
  background-color : #aaaaff
}

img {
  border :0px;
  margin :0px;
  padding :0px;
}

a {
    color :#ffffff;
}

a:hover {
    cursor :pointer;
    color :#ff0000;
}

#container {
  width :950px;
  height :570px;
  margin-top :20px;
  margin-left :auto;
  margin-right :auto;
  overflow :hidden;
}

#page {
  width :950px;
  height :470px;
  overflow :hidden;
}

#pagecenter {
  width :650px;
  height :470px;
  overflow :hidden;
  float :left;
}


#leftmenu {
  width :150px;
  height :470px;
  overflow :hidden;
  float :left;
}

#rightmenu {
  width :150px;
  height :470px;
  overflow :hidden;
  float :left;
}

#topmenu {
  width :650px;
  height :20px;
  overflow :hidden;
}

#previous {
  width :20px;
  height :20px;
  overflow :hidden;
  float : left;
}

#next {
  width :20px;
  height :20px;
  overflow :hidden;
  float : left;
}

#refresh {
  width :20px;
  height :20px;
  float : left;
}

#frflag {
  width :32px;
  height :20px;
  overflow :hidden;
  float : left;
}

#enflag {
  width :32px;
  height :20px;
  overflow :hidden;
  float : left;
}

#location {
  width :526px;
  height :20px;
  overflow :hidden;
  float : left;
}

#header {
  width :950px;
  height :70px;
  overflow :hidden;
}

#footer {
  width :950px;
  height :30px;
  overflow :hidden;
}

#generalmenu {
  width :140px;
  height :225px;
  overflow :hidden;
  padding :5px;
}

#contextualmenu {
  width :140px;
  height :225px;
  overflow :hidden;
  padding :5px;
}

#catalogue {
  width :140px;
  height :225px;
  overflow :hidden;
  padding :5px;
}

#cart {
  width :140px;
  height :225px;
  overflow :hidden;
  padding :5px;
}

#content {
  width :640px;
  height :440px;
  overflow :auto;
  padding :5px;
}

div.main {
  padding :5px
}

div.question {
  padding :5px
}